html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#header-section .splide__pagination {
  bottom: 50px;
}

#header-section .splide__pagination__page {
  background: #fff;
  margin: 7px;
}

#highlights-section .splide__pagination, #programs-section .splide__pagination, #testimonies-section .splide__pagination, #posts-section .splide__pagination {
  left: 50px;
  bottom: -90px;
}

#highlights-section .splide__pagination__page, #programs-section .splide__pagination__page, #testimonies-section .splide__pagination__page, #posts-section .splide__pagination__page {
  background: rgba(0,0,0,.2);
}

.splide__pagination__page.is-active {
  background: #ed1c24!important;
  opacity: 1!important;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: ""!important;
}

.swiper-button-disabled {
  opacity: .2;
  cursor: auto;
  pointer-events: none;
}

#posts-section .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet {
  margin: 7px!important;
  transition: 1s scale;
}

.swiper-pagination-bullet-active {
  background: #ed1c24!important;
  transform: scale(1.4)!important;
}

#highlights-section .swiper-pagination, #programs-section .swiper-pagination, #testimonies-section .swiper-pagination, #posts-section .swiper-pagination {
  text-align: left!important;
  width: fit-content!important;
  transition: 1s scale;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9;
}

.react-modal-content {
  width: 100%;
  max-width: 780px;

  background: #fff;
  padding: 50px 100px 55px;
  position: relative;
  border-radius: 5px;
  outline: none;
}

.ReactModal__Content {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-50px);
}