html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.splide__pagination {
  bottom: 50px;
}

.splide__pagination__page {
  background: #f2f2f2;
  margin: 5px;
}

.splide__pagination__page.is-active {
  background: #ed1c24;
}